.Header{
    padding:20px 0;
    display:flex;
}
.Header > div{
    display:flex;
}
.header_title{
    width:50%;
    font-size:25px;
    justify-content:center;
}
.header_left{
    width:25%;
    justify-content:start;
}
.header_right{
    width:25%;
    justify-content:end;
}