.App{
  width:600px;
  border:5px dashed lightblue;
  margin:0 auto;
}
.Button_default{
  background-color:lightgray;
}
.Button_positive{
  background-color:lightblue;
}
.Button_negative{
  background-color:orange;
}








.li-1{
  /* border:1px solid red; */
  text-decoration:none;
  background-color:lightblue;
  font-size:20px;
  color:black;
  cursor:point;
  margin:0 10px;
  padding:5px 20px;
}
.li-1:hover{
  background-color:blue;
  color:aliceblue;
}
.li-1 img{
  width:100px;
}